
@media (max-width: 960px){
    * {
        font-size: 1.2em;
        color:  red;
    }
}

@media (max-width: 760px) {
    * {
        font-size: 0.8em;
        color: plum;
    }
}



@media (max-width:640px){
    * {
        font-size: 1.8em;
        color:  powderblue;
    }
}